<div class="container">
  <mat-card appearance="outlined">
    <mat-card-content [class]="pagination()">
      @if (loading() == false) {@for (story of stories(); track story.id) {
      <app-news-story [title]="story.title" [url]="story.url" />
      }} @else {<app-loading />}
    </mat-card-content>
    @if (initialLoadComplete() === true) {
    <mat-card-actions class="paginator">
      <div class="center">
        <mat-paginator
          [length]="length()"
          [pageSize]="pageSize()"
          [pageSizeOptions]="[10, 25, 50]"
          (page)="handlePageEvent($event)"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </mat-card-actions>
    }
  </mat-card>
</div>
