<mat-toolbar>
  <button id="btnMenu" mat-icon-button (click)="handleTopStoriesClicked()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Hacker News Portal</span>
  <div class="toolbar-row">
    <button
      id="btnTopStories"
      mat-raised-button
      (click)="handleTopStoriesClicked()"
    >
      <mat-icon>newspaper</mat-icon>
      <span>Top Stories</span>
    </button>
    <button id="btnSearch" mat-raised-button (click)="handleSearchClicked()">
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>
    <app-theme-toggle />
  </div>
</mat-toolbar>
